// COLOR VARIABLES

$clr-1: #07cff6;
$clr-2: #194162;
$clr-3: #0d2534;
$clr-4: #04131e;
$clr-5: #020204;
$white: #fff;

body {
  background: $clr-4;
}

h2,
h1 {
  text-transform: uppercase;
  color: $clr-1;
}

.navbar {
  background-color: $clr-4;

  .btn-outline-dark {
    color: $clr-1;
    border-color: $clr-1;

    &:hover {
      color: $white;
      border-color: $white;
    }
  }

  .badge {
    color: $clr-3;
    background-color: $clr-1;
  }
}

.navbar-nav {
  .nav-link {
    color: $clr-1;
    font-weight: 600;
    transition: all 0.5s ease;

    &:hover {
      color: $white;
    }
  }
}

.logo {
  width: 80px;
}

#hero {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/bg-2.jpg") center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn {
    background-color: $clr-1;
    color: $clr-4;
    transition: all 0.5s ease;

    &:hover {
      transform: translateY(7px);
      background-color: $clr-4;
      color: $clr-1;
      border-color: $clr-1;
    }
  }
}

.btn-outline-success {
  color: $clr-1;
  border-color: $clr-1;

  &:hover {
    background-color: $clr-1;
    color: $clr-3;
  }

  &:active {
    background-color: $clr-1;
    color: $clr-3;
  }

  &:active:focus {
    box-shadow: none;
  }
}
.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
  box-shadow: none;
}

.card {
  background-color: $clr-3;
  color: $white;

  img {
    width: 100px;
  }
}
.shadow {
  box-shadow: 0 0.2rem 1rem 0.2rem $clr-5 !important ;
}

footer {
  background-color: $clr-3;
  color: $clr-1;
  font-size: 1.1rem;

  .socials {
    a {
      font-size: 1.5rem;
      color: $white;
      transition: all 0.5s ease;

      &:hover {
        color: $clr-1;
      }
    }
  }
}

// CHECK OUT PAGE

.carousel-caption {
  color: $clr-1;
}

form {
  color: $clr-1;
  background-color: $clr-3;

  .form-control {
    color: $white;
    border-color: $clr-1;
    background-color: $clr-2;

    &:focus {
      color: $clr-1;
      background-color: $clr-4;
      box-shadow: none;
    }

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }

  .btn {
    background-color: $clr-1;
    color: $clr-4;
    transition: all 0.5s ease;

    &:hover {
      transform: translateY(7px);
      background-color: $clr-4;
      color: $clr-1;
      border-color: $clr-1;
    }
  }
}

@media (max-width: 304px) {
  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 238px) {
  .remove {
    margin-top: 10px;
  }
}
